<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size-xs="12" size-sm="6" size-lg="5" offset-lg="1">
        <ion-button (click)="fireLocalNoti(0)"
          >Set Immediate Local Noti</ion-button
        >
        <ion-button (click)="fireLocalNoti(1)"
          >Set 5s later Local Noti</ion-button
        >
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-lg="5"
        >hjgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
        jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
        jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- FlexBox Practicing -->
<div>
  <div clas="my-flex-container">
    <div class="my-flex-item">Item 1</div>
    <div class="my-flex-item">Item 2</div>
    <div class="my-flex-item">Item 3</div>
  </div>
</div>
